<div class="flex wrap modifiers" style="height: 100%;">
  <div class="border" style="flex-basis: 100%;">
    <h1>{{localize "TITLE.ITEM_MODIFIERS"}}</h1>
    <div class="item-list">

      <!-- ===== ХАРАКТЕРИСТИКИ ===== -->
      <div class="modifier-item flex header row">
        <b class="modifier-column">{{localize "DIALOG.CHARACTERISTIC_NAME"}}</b>
        <b class="modifier-column">{{localize "DIALOG.VALUE_MODIFIER"}}</b>
        <b class="modifier-column">{{localize "DIALOG.UNNATURAL_VALUE"}}</b>
        <a class="modifier-button button add-characteristic-modifier" title="{{localize 'BUTTON.ADD'}}"><i class="fas fa-plus"></i></a>
      </div>

      {{#each system.modifiers.characteristic as |charMod|}}
        <div class="modifier-item flex row" data-modifier-id="characteristic" data-modifier-key="{{charMod.id}}">
          <select class="modifier-column characteristic-select" data-dtype="String">
            {{#each ../characteristics as |label key|}}
              <option value="{{key}}" data-option-label="{{label}}" {{#if (eq key charMod.id)}}selected{{/if}}>{{localize label}}</option>
            {{/each}}
          </select>
          <div class="flex row modifier-column">
            <input id="modifier-char-value-{{charMod.id}}" type="text" value="{{charMod.characteristicModifier}}" data-dtype="Number"/>
          </div>
          <div class="flex row modifier-column">
            <input id="modifier-unnatural-value-{{charMod.id}}" type="text" value="{{charMod.unnaturalModifier}}" data-dtype="Number"/>
          </div>
          <div class="flex row modifier-button button">
            <a class="item-control item-delete" title="Delete Modifier"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      {{/each}}

      <!-- ===== НАВЫКИ ===== -->
      <div class="modifier-item flex header row">
        <b class="modifier-column">Skill</b>
        <b class="modifier-column">Value Modifier</b>
        <a class="modifier-button button add-skill-modifier" title="{{localize 'BUTTON.ADD'}}"><i class="fas fa-plus"></i></a>
      </div>

      {{#each system.modifiers.skill as |skillMod|}}
        <div class="modifier-item flex row" data-modifier-id="skill" data-modifier-key="{{skillMod.id}}">
          <select class="modifier-column skill-select" data-dtype="String">
            {{#if ../hasSkills}}
              {{#if ../hasBasicSkills}}
              <optgroup label="{{localize 'DIALOG.BASIC_SKILLS'}}">
                {{#each ../skillOptions}}
                  {{#if (eq type 'skill')}}
                    <option value="{{value}}" data-option-label="{{localize label}}" {{#if (eq value ../skillMod.id)}}selected{{/if}}>{{localize label}}</option>
                  {{/if}}
                {{/each}}
              </optgroup>
              {{/if}}
              {{#if ../hasSpecialities}}
              <optgroup label="{{localize 'DIALOG.SPECIALITIES'}}">
                {{#each ../skillOptions}}
                  {{#if (eq type 'speciality')}}
                    {{#if isCustom}}
                      <option value="{{value}}" data-option-label="{{parentName}}: {{label}}" style="font-style: italic;" {{#if (eq value ../skillMod.id)}}selected{{/if}}>* {{parentName}}: {{label}}</option>
                    {{else}}
                      <option value="{{value}}" data-option-label="{{parentName}}: {{localize label}}" {{#if (eq value ../skillMod.id)}}selected{{/if}}>{{parentName}}: {{localize label}}</option>
                    {{/if}}
                  {{/if}}
                {{/each}}
              </optgroup>
              {{/if}}
            {{else}}
              <option value="">{{localize "DIALOG.NO_SKILLS_AVAILABLE"}}</option>
            {{/if}}
          </select>
          <div class="flex row modifier-column">
            <input id="modifier-skill-value-{{skillMod.id}}" type="text" value="{{skillMod.skillModifier}}" data-dtype="Number"/>
          </div>
          <div class="flex row modifier-button button">
            <a class="item-control item-delete" title="Delete Modifier"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      {{/each}}

      <!-- ===== OTHER ===== -->
      <div class="modifier-item flex header row">
        <b class="modifier-column">Other</b>
        <b class="modifier-column">Value</b>
        <a class="modifier-button button add-other-modifier" title="Add Other Modifier"><i class="fas fa-plus"></i></a>
      </div>

      {{#each system.modifiers.other as |otherMod|}}
        <div class="modifier-item flex row" data-modifier-id="other" data-modifier-key="{{otherMod.id}}">
          <div class="flex row modifier-column">
            <input type="text" class="other-label" value="{{otherMod.label}}" data-dtype="String" placeholder="Name"/>
          </div>
          <div class="flex row modifier-column">
            <input type="text" class="other-value" value="{{otherMod.value}}" data-dtype="Number"/>
          </div>
          <div class="flex row modifier-button button">
            <a class="item-control item-delete" title="Delete Modifier"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>