<form class="item-form" autocomplete="off">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "MUTATION.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
                <div class="name header-row">
                    <label>{{localize "TITLE.NA"}}</label>
                    <select name="system.skillLevel" type="text" value="{{system.skillLevel}}">
                        {{#select system.skillLevel}}
                            <option value="Послушник">{{localize "TITLE.NOVICE"}}</option>
                            <option value="Адепт">{{localize "TITLE.ADEPT"}}</option>
                            <option value="Мастер">{{localize "TITLE.MASTER"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item" data-tab="novice">{{localize "TITLE.CAPSNOVICE"}}</b>
        <b class="item" data-tab="adept">{{localize "TITLE.CAPSADEPT"}}</b>
        <b class="item" data-tab="master">{{localize "TITLE.CAPSMASTER"}}</b>
        <b class="item" data-tab="modifiers">{{localize "TAB.MODIFIERS"}}</b>
    </div>

    <div class="sheet-body">
        <!-- Вкладка для Послушника -->
        <div class="tab" data-group="primary" data-tab="novice">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div style="height: 100%; width: 100%">
                    {{editor system.descriptionNoviceHTML target="system.descriptionNovice" engine="prosemirror" button=true editable=true}}
                </div>
            </div>
        </div>
        
        <!-- Вкладка для Адепта -->
        <div class="tab" data-group="primary" data-tab="adept">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div style="height: 100%; width: 100%">
                    {{editor system.descriptionAdeptHTML target="system.descriptionAdept" engine="prosemirror" button=true editable=true}}
                </div>
            </div>
        </div>
        
        <!-- Вкладка для Мастера -->
        <div class="tab" data-group="primary" data-tab="master">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div style="height: 100%; width: 100%">
                    {{editor system.descriptionMasterHTML target="system.descriptionMaster" engine="prosemirror" button=true editable=true}}
                </div>
            </div>
        </div>

        <!-- Вкладка для модификаторов -->
        <div class="tab" data-group="primary" data-tab="modifiers">
            {{> systems/rogue-trader/template/sheet/utility/modifiers.html}}
        </div>
    </div>
</form>